.head {


min-height: 900px;
width: 1200px;
margin: 0 auto;
background: url("../images/head-desktop.png") 430px 320px no-repeat,
url("../images/border-mini.svg") 190px 220px no-repeat,
url("../images/kheder.svg") -195px 0 no-repeat;
z-index: 5;
  .tablet(@rules: {
    width: 768px;
    margin: 0 auto;
    margin-top: 40px;
    min-height: 700px;
    background: transparent;
  });
  .mobile(@rules: {
    width: 320px;
    margin: 0 auto;
    margin-top: 60px;
    min-height: 450px;
        z-index: 6;
        background: transparent;
  });
  @media(min-width: 1920px){
    width: 1920px;
    margin: 0 auto;
    margin-top: -0px;
    padding-top: 20px;
    background: url("../images/head-desktop.png") 640px 320px no-repeat,
    url("../images/border.svg") 400px 220px no-repeat,
    url("../images/kheder.svg") 16px 0 no-repeat;
    z-index: 5;

    .aside {
      margin-top: -15px;
    }
  }
}

.head__back {
  padding-top: 60px;
  z-index: 8;
  min-height: 900px;
  position: relative;

  .tablet(@rules: {
    padding-top: 0;
    width: 768px;
    margin: 0 auto;
    background:
    url("../images/head-tablet.png") 35px 430px no-repeat,
    url("../images/kheder-tabletka.svg") 0px 52px no-repeat;
  });
  .mobile(@rules: {
    padding-top: 0px;
width: 320px;
min-height: 450px;
margin: 0 auto;
background: none;
  });
}


.head__header {
  font-family: @main-font-bold;
  line-height: 51px;
  font-size: 35px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 42px;
  margin-left: 120px;
  position: relative;
  z-index: 100;
  .laptop(@rules: {
    margin-left: 40px;;
    padding-top: 20px;

  });

  .tablet(@rules: {
    width: 660px;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 25px;
  });

  .mobile(@rules: {
    width: 300px;
    line-height: 21px;
    font-size: 15px;
    margin-left: 0;
    margin-top: 00px;
    padding-right: 20px;
    margin-bottom: 0px;
  });
}

.head__header-container {
  margin: 0 auto;
width: 1920px;
.laptop(@rules: {
width: 1200px;
});


  .tablet(@rules: {
    margin: 0 auto;
    width: 768px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 150px;
    margin-bottom: 20px;
  });
  .mobile(@rules: {
    margin: 0 auto;
    padding-left: 20px;
    width: 320px;
    margin-bottom: 35px;
  });
}
.head__wrapper {

  margin-top: 68px;
  margin-bottom: 60px;
  margin: 0 auto;
  width: 1920px;
  min-height: 900px;
  z-index: 6;
  position: relative;
  .flex-block();

  .laptop(@rules: {
    margin-top: 68px;
    margin-bottom: 60px;
    margin: 0 auto;
    width: 1200px;
    min-height: 900px;
    z-index: 6;
    position: relative;
    .flex-block();
  });



  .tablet(@rules: {
    width: 768px;
    z-index: 6;
    position: relative;
    margin-bottom: 0;
    margin-top: 0;
    min-height: 950px;
    .flex-block();
    .flex-direction(column);

  });

  .mobile(@rules: {
    margin: 0 auto;
    min-height: 435px;
    z-index: 6;
    position: relative;
    width: 320px;
    margin-bottom: 0;
    margin-top: 0;
    .flex-block();
    .flex-direction(column);
    background: url("../images/head-mobile.png") 40px 180px no-repeat,
    url("../images/head-mobile-pseudo3.png") 0px 140px no-repeat,
    url("../images/head-mobile-pseudo1.png") 50px 275px no-repeat,
    url("../images/head-mobile-pseudo2.png") 00px 290px no-repeat;
  });

  .aside {
    top: 75px;
  }
}

.head__content {
  .laptop(@rules: {
    margin-top: 0;
    width: 1270px;
    padding-top: 35px;
    min-height: 702px;
    //border: 0.5px solid @blue;
    padding-left: 00px;
    margin-left: 0px;
    font-family: @main-font;
    margin-top: -22px;
    line-height: 35px;
    font-size: 20px;
    color: #000000;

  });

  margin-top: 0;

  width: 1920px;
  padding-top: 35px;
  min-height: 702px;
  //border: 0.5px solid @blue;
  padding-left: 25px;
  margin-left: 405px;
  font-family: @main-font;
  margin-top: -22px;
  line-height: 35px;
  font-size: 20px;
  color: #000000;

  .tablet(@rules: {
    width: 768px;
    min-height: 935px;
    line-height: 35px;
    font-size: 20px;
    border: none;
    margin-left: 10px;
  });

  .mobile(@rules: {
    width: 320px;
    padding-top: 0;
    border: none;
    min-height: 450px;
    line-height: 18px;
    font-size: 12px;
    margin-left: 10px;
  });
}
.head__advantage {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 0px;
  .tablet(@rules: {
    margin-left: -0px;
  });

  .mobile(@rules: {
    margin-left: -0px;
  });
}

.head__form {
  .mobile(@rules: {
    .flex-block();
    .flex-direction(column);
    margin: 0 auto;
    margin-top: 17px;
    margin-left: -0px;
  });
  .tablet(@rules: {
    .flex-block();
    .flex-direction(column);
    margin-top: 20px;
    margin-left: -0px;

  });
  .flex-block();
  .flex-direction(column);
  .justify-content(flex-start);
  margin-top: 25px;

  input::placeholder {
    font-family: @main-font;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: @placeholder;
  }

  input {
    .mobile(@rules: {
      width: 280px;
      margin-right: 0;
      margin-bottom: 9px;
      height: 35px;
      padding-top: 5px;
      padding-bottom: 5px;
    });
    .tablet(@rules: {
      margin-bottom: 20px;
      width: 350px;
    });
    margin-bottom: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 45px;
    width: 355px;
    margin-right: 20px;
    border: 0.5px solid #0047FF;
  }
}

.head__button {
  margin-top: 0;
  .tablet(@rules: {
    margin-top: 0;
    font-size: 18px;
    line-height: 35px;
    height: 42px;
    });
  .mobile(@rules: {
    margin-top: 0;
    margin-left: 0;
    width: 170px;
    font-size: 15px;
    line-height: 26px;
    padding-left: 0;
    padding-right: 0;
    height: 32px;
  });


}
