.page-header {
  width: 100%;
  position: fixed;
  background: white;
  left: 0;
  top: 0;
  z-index: 9;
  min-height: 60px;

}
.page-navigation {
  position: relative;
  margin-top: 0;
  margin: 0 auto;

}

.page-header__wrapper {
   position: relative;
  background: white;
  width: 320px;
  padding-bottom: 10px;
  margin: 0 auto;
    min-height: 60px;
    z-index: 9;
}

.nav-container {
  .flex-block();
  margin: 0 auto;
  .flex-direction(@direction: column);
  .justify-content(flex-start);
  position: absolute;
  background-color: white;
  z-index: 10;


  &--close .menu,
  &--close .menu__outer{
    display: none;
  }
}
.header {
  min-height: 50px;
  padding-top: 20px;
    z-index: 50;
}
.header__logo {
  padding-left: 90px;

}

@media (min-width: 768px) {
.page-header__wrapper {
  margin: 0 auto;
  width: 768px;
  padding-bottom: 10px;
  z-index: 10;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  padding-top: 0px;
  padding-left: 0;
}
.nav-container {
  box-shadow: none;
  position: absolute;
  left: -150px;
  width: 300px;
  background-color: @white;
  margin-left: 0;
  z-index: 10;

  &--close {
    background-color: transparent;
  }
}

.header {
  width: 300px;
  padding-top: 22px;
  z-index: 150;
}
.header__logo {
  padding-left: 70px;
}

.page-header {
  min-height: 80px;
}
}

@media (min-width: 1200px) {
.page-header__wrapper {
  margin: 0 auto;
  width: 1200px;
  background:
  url("../images/kheder.svg") -195px 0 no-repeat,
  white;
}

.page-navigation {
  width: 500px;
}
.nav-container {
  position: absolute;
  left: -50px;
  box-shadow: none;
  width: 500px;
  margin-left: 0;
  padding-left: 50px;
}

.header {
  width: 300px;
  padding-top: 15px;
    z-index: 150;
}
.header__logo {
  padding-left: 0px;
}

.page-header {
  min-height: 68px;
}
}

@media (min-width: 1920px) {
  .nav-container {
    .flex-block();
    .justify-content(flex-start);
    position: relative;
    width: 1920px;
    margin: 0 auto;
    box-shadow: none;
    z-index: 0;
  }

  .page-navigation {
    margin-left: 0;

  }

  .header {
    width: 300px;
    padding-top: 20px;
  }
  .header__logo {
    padding-top: 0;
    padding-left: 200px;
  }
  .page-header__wrapper {
width: 1920px;

    margin-bottom: -30px;
    background:
    url("../images/kheder.svg") 16px 0 no-repeat,
  white;
  }

  .page-header {
    min-height: 79px;
  }
}
